<h2>Buttons</h2>
<button mat-flat-button class="mog3_primary_flat_btn">Primary Button</button> <br><br>
<button mat-flat-button class="mog3_primary_flat_btn"><i class="ri-pencil-fill"></i> Primary Button with Icon </button> <br><br>
<button mat-flat-button class="mog3_secondary_flat_btn">Secondary Button</button> <br><br>
<button mat-flat-button class="mog3_transparent_btn">Transparent Button</button> <br><br>
<button mat-flat-button class="mog3_rejectbtn">Reject Button</button><br><br>
<button mat-flat-button class="mog3_backbtn"><i class="ri-arrow-left-line"></i> Back</button><br><br>
<h3>Icon Buttons</h3>
<h3>Primary Icon Button </h3>
<button mat-icon-button class="mog3_iconbtn primary">
    <i class="ri-price-tag-fill"></i>
</button>
<button mat-icon-button class="mog3_iconbtn primary">
    <i class="ri-menu-line"></i>
</button>
<button mat-icon-button class="mog3_iconbtn primary">
    <i class="ri-home-fill"></i>
</button>
<button mat-icon-button class="mog3_iconbtn primary">
    <i class="ri-mail-fill"></i>
</button>
<h3>Normal Icon Button </h3>
<button mat-icon-button class="mog3_iconbtn">
    <i class="ri-price-tag-fill"></i>
</button>
<button mat-icon-button class="mog3_iconbtn">
    <i class="ri-menu-line"></i>
</button>
<button mat-icon-button class="mog3_iconbtn">
    <i class="ri-home-fill"></i>
</button>
<button mat-icon-button class="mog3_iconbtn">
    <i class="ri-mail-fill"></i>
</button>


