@import '../../../theme.scss';
.mog3_slidetoggle{
    .mat-slide-toggle-bar{
        width: 29px;
    }
    .mat-slide-toggle-thumb-container {
        width: 10px;
        height: 10px;
        top: 2px;
        left: 2px;
    }
    .mat-slide-toggle-thumb {
        height: 10px;
        width: 10px;
    }
    &.mat-checked {
        .mat-slide-toggle-bar {
            background-color:$success;
        }
        .mat-slide-toggle-thumb {
            background-color: #fff;
        }
        .mat-ripple-element {
            background-color: $success;
        }
    }
    .mat-slide-toggle-ripple {
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        height: 20px;
        width: 20px;
    }
}