<h3>Select without outline</h3>
<mat-form-field appearance="outline" class="mog3-matselect withoutoutline">
    <label>Plant</label>
    <mat-select placeholder="Plant">
      <mat-option value="plant1">plant 1</mat-option>
      <mat-option value="plant2">plant 2</mat-option>
    </mat-select>
</mat-form-field>
<h3>Select with outline</h3>
<mat-form-field appearance="outline" class="mog3-matselect">
    <!-- <label>Plant</label> -->
    <mat-select placeholder="Plant">
      <mat-option value="plant1">plant 1</mat-option>
      <mat-option value="plant2">plant 2</mat-option>
    </mat-select>
</mat-form-field>
