<h2>Input Types</h2>
<h3>Input with floating label</h3>
<mat-form-field class="mog3_floatmatinput" appearance="outline">
    <mat-label>Plant name</mat-label>
    <input matInput placeholder="Add Plant Name" value="Tata Steel Industries">
</mat-form-field>
<br>
<br>
<h3>Input with Outline and label</h3>  
<div class="formfield">
    <label>Plant Name</label>
    <mat-form-field class="mog3_matinput" appearance="outline">
        <input matInput placeholder="Add Plant Name" value="Tata Steel Industries">
    </mat-form-field>
</div>
<br>
<br>
<h3>Input with Background Filled</h3>  
<mat-form-field class="mog3_fillmatinput" appearance="fill">
    <mat-label>Plant name</mat-label>
    <input matInput placeholder="Add Plant Name" value="Tata Steel Industries">
</mat-form-field>
<br><br>

<h2>Textarea</h2>
<h3>Textarea with floating Label</h3>  
<mat-form-field class="mog3_floatinglabeltextarea " appearance="outline">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
</mat-form-field>
<br>
<br>
<h3>Textarea with Label</h3>  
<div class="formfield">
    <label>Leave a comment</label>
    <mat-form-field class="mog3_labeltextarea" appearance="outline">
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
</div>


<br>
<br>
<h2>Checkboxes</h2>
<h3>White checkbox on dark background</h3> 
<div style="background: #555;">
    <mat-checkbox class="mog3_checkbox checkwhite" class="">Check Me</mat-checkbox>
</div>
<br>
<br>
<h3>Normal checkbox</h3> 
<mat-checkbox class="mog3_checkbox" class="">Check Me</mat-checkbox>

<br>
<br>
<h2>Radio Button</h2>
<mat-radio-group aria-label="Select an option" class="mog3_radiogroup">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>
